<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <div class="text-center title-style mb-4">
                                        <h2 class="mb-2">Forgot Password</h2>
                                        <p class="text-muted">Forgot Password Page</p>
                                    </div>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-light" type="button" id="button-addon1"><i class="fe fe-mail"></i></button>
                                        <input type="text" class="form-control" placeholder="Enetr Email" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    </div>
                                    <div class="form-group">
                                        <label class="custom-control form-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"><a href="javascript:void(0);">Agree the terms and policy</a></span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn  btn-primary btn-block px-4"><i class="fe fe-send"></i> Send</button>
                                        </div>
                                    </div>
                                    <div class="text-center pt-4">
                                        <div class="font-weight-normal fs-14">Forget it <a class="text-primary font-weight-normal"  routerLink="/dashboard">Send me back</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>