<!--Page header-->
<app-page-header [title]="'User List 03'"  [icon]="'grid'"  [title1]="'Apps'" [activeitem]="'User List 03'"></app-page-header>

<!--End Page header-->

	<!-- Row -->
    <div class="row flex-lg-nowrap">
        <div class="col-12">
            <div class="row flex-lg-nowrap">
                <div class="col-12 mb-3">
                    <div class="e-panel card">
                        <div class="card-body pb-2">
                            <div class="row">
                                <div class="col-md-9 col-sm-6 mb-4">
                                    <a href="javascript:void(0);" class="btn btn-primary"><i class="fe fe-plus"></i> Add New User</a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-auto">
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
                                                <i class="fe fe-search"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Search User">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/7.jpg" >
                                           
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                                                <small class="text-muted">Project Manager</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">denisrosenblum@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/6.jpg" >
                                            
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Harvey Mattos</p>
                                                <small class="text-muted">Develpoer</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">harveymattos@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/5.jpg" >
                                            
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Catrice Doshier</p>
                                                <small class="text-muted">Assistant Manager</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">catricedoshier@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/1.jpg" >
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Catherina Bamber</p>
                                                <small class="text-muted">Company Manager</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">catherinabamber@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/8.jpg" >
                                            
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Margie Fitts</p>
                                                <small class="text-muted">It Manager</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis and aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">margiefitts@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/5.jpg" >
                                           
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Dana Lott</p>
                                                <small class="text-muted">Hr Manager</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">danalott@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/6.jpg" >
                                      
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Benedict Vallone</p>
                                                <small class="text-muted">Hr Recriuter</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">benedictballone@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/8.jpg" >
                                           
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Robbie Ruder</p>
                                                <small class="text-muted">Ceo</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">robbieruder@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/3.jpg" >
                                           
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Micaela Aultman</p>
                                                <small class="text-muted">Php developer</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">micaelaaultman@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/4.jpg" >
                                          
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Jacquelynn Sapienza</p>
                                                <small class="text-muted">Web developer</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">jacquelynnsapienza@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/9.jpg" >
                                            
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Elida Distefano</p>
                                                <small class="text-muted">Hr Manager</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">elidadistefano@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-6">
                                    <div class="card border p-0 shadow-none">
                                        <div class="d-flex align-items-center p-3">
                                            <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/7.jpg" >
                                           
                                            <div class="ms-2">
                                                <p class="mb-0 mt-1 text-dark font-weight-semibold">Collin Bridgman</p>
                                                <small class="text-muted">web designer</small>
                                            </div>
                                            <div class="float-end ms-auto" ngbDropdown>
                                                <a href="javascript:void(0);" class="option-dots" ngbDropdownToggle data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical fs-18"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-edit me-2"></i> Edit</a>
                                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"><i class="fe fe-trash me-2"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top">
                                            <p class="text-muted">Duis aute there for in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                            <ul class="mb-0 user-details">
                                                <li class="mb-3"><span class="user-icon"><i class="fe fe-mail "></i></span><span class="h6">collinbridgman@gmail.com</span></li>
                                                <li><span class="user-icon"><i class="fe fe-phone-call"></i></span><span class="h6">+345 657 567</span></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary m-1">Message</a>
                                            <a href="javascript:void(0);" class="btn btn-primary float-sm-end m-1">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->