<!--Page header-->
<!-- <app-page-header [title]="'Add Invoice'"  [icon]="'layers'"  [title1]="'Pages'" [activeitem]="'Add Invoice'"></app-page-header> -->

<!--End Page header-->

<!-- Row-->
<div class="row my-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add Questions</div>
            </div>
            <div class="card-body" *ngIf="question">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-md-12">

                                <label class="form-label">Add Question</label>
                                <!-- <input type="" class="form-control" placeholder="Invoice title" value=""> -->
                                 <!-- <select name="" class="form-control" id="">
                                    <option value="">FAQ</option>
                                    <option value="">kodev Fusion</option>
                                 </select> -->
                                <input type="text" [(ngModel)]="question.questions" class="form-control"/>

                                 <!-- <select class="form-control" >
                                    <option value="1" [(ngModel)]="question.questions"></option>
                                    <option value="1">FAQ</option>
                                    <option value="2">kodev Fusion</option>
                                </select>  -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table nowrap text-nowrap border mt-3">
                        <thead>
                            <tr>
                                <th>S NO</th>
                                <th class="w-100">Keywords</th>
                                <!-- <th>Questions</th>
                                <th>Input</th>
                                <th>Image</th>
                                <th>PDF</th>
                                <th>Status</th> -->  
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of rows; let i = index">   
                                
                                <!-- <td><input class="form-control" placeholder="" type="text" value="{{ i + 1 }}" [(ngModel)]="row.title"></td> -->
                                <td>
                                    <input class="form-control" type="text" value="{{ i + 1 }}" [readonly]="true">
                                  </td>
                                  
                                <td><input class="form-control" placeholder="" type="text" value="" [(ngModel)]="row.convId"></td>
                                <td>
                                    <!-- <input class="form-control" placeholder="" type="text" value=""> -->
                                     <!-- <button class="btn btn-square btn-secondary"></button> -->
                                     <button type="button"  class="btn btn-square btn-secondary" (click)="removeRow(i)"><i class="fe fe-minus"></i></button>

                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><a class="btn btn-light" href="javascript:void(0)" (click)="addRow()"><i class="fe fe-plus"></i> Add
                                        </a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <label class="form-label">Vat Rate</label>
                        <input class="form-control" placeholder="Vat Rate" type="text" value="">
                    </div>
                </div> -->
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary btn-square me-1" href="javascript:void(0)"><i class="fe fe-plus"></i> Add New
                            Question</a>
                        <a class="btn btn-light" href="javascript:void(0)">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End row-->