.dash1-card .ratio{
    width: auto !important;
}
.card-body1
{
    height: 94px !important;
}
.card-body{
    height: auto;
}

.chartsh {
    >div{
        z-index: 9 !important;
    }
    &:last-child {
        z-index: 9 !important;
    }
}
.col-xl-3{
    max-width: 20%;
}
.lname{
    margin-left: -10px;
}
// .card-body2{
//     min-height: 100px;
// }