<!--Page header-->
<app-page-header [title]="'User List 01'"  [icon]="'grid'"  [title1]="'Apps'" [activeitem]="'User List 01'"></app-page-header>

<!--End Page header-->

	<!-- Row -->
    <div class="row flex-lg-nowrap">
        <div class="col-12">
            <div class="row flex-lg-nowrap">
                <div class="col-12 mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered border-top text-nowrap" id="example1">
                                        <thead>
                                            <tr>
                                                <th class="align-top border-bottom-0 wd-5"></th>
                                                <th class="border-bottom-0 min-w-200">User</th>
                                                <th class="border-bottom-0 w-15">Date of joining</th>
                                                <th class="border-bottom-0 w-15">Email</th>
                                                <th class="border-bottom-0 w-30">Performance</th>
                                                <th class="border-bottom-0 w-10">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/7.jpg">	
                                                            <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Nam Guy</h6>
                                                            <small class="">web designer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                                <td class="text-primary align-middle"><span>Nam123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">30%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 30%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/1.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Tracy Lindahl</h6>
                                                            <small class="">web developer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>27 Jan 2018</span></td>
                                                <td class="text-primary align-middle"><span>Tracy123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">82%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 82%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/3.jpg">
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Breana Millis</h6>
                                                            <small class="">Php developer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                                <td class="text-primary align-middle"><span>Breana123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">68%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 68%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/6.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Antwan Tramel</h6>
                                                            <small class="">Hr Manager</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>20 Jan 2018</span></td>
                                                <td class="text-primary align-middle"><span>Antwan123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">78%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 78%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/4.jpg">
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Geraldine Arpin</h6>
                                                            <small class="">Recriuter</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>13 Jan 2018</span></td>
                                                <td class="text-primary align-middle"><span>Geraldine123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">45%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 45%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/2.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Clement Niehaus</h6>
                                                            <small class="">Ceo</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>	25 Jan 2018</span></td>
                                                <td class="text-primary align-middle"><span>Clementine123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">60%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 60%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/5.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Melinda Mayers</h6>
                                                            <small class="">Director</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>12 Jan 2018</span></td>
                                                <td class="text-primary align-middle"><span>Melindae123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">55%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 55%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/8.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Willodean Monson</h6>
                                                            <small class="">web designer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>27 Jan 2018</span></td>
                                                <td class="text-primary align-middle"><span>Willodean123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">45%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 45%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/3.jpg">
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Brenton Moncada</h6>
                                                            <small class="">web developer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>12 Dec 2017</span></td>
                                                <td class="text-primary align-middle"><span>Brenton123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">40%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 40%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/2.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Cyndy Kirschbaum</h6>
                                                            <small class="">web designer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>10 Dec 2017</span></td>
                                                <td class="text-primary align-middle"><span>Cyndy123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">80%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 80%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/6.jpg">
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Renna Spino</h6>
                                                            <small class="">Hr Manager</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>	03 Dec 2017</span></td>
                                                <td class="text-primary align-middle"><span>Cyndy123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">70%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 70%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <label class="custom-control form-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex">
                                                        <img class="avatar avatar-md brround d-block cover-image" src="./assets/images/users/9.jpg">	
                                                        <div class="ms-3 mt-1">
                                                            <h6 class="mb-0 font-weight-bold text-wrap">Freeman Kozlowski</h6>
                                                            <small class="">web developer</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                                <td class="text-primary align-middle"><span>Freeman123@kubi.com</span></td>
                                                <td class="text-nowrap align-middle">
                                                    <div class="float-end"><h6 class="mb-2 ms-4 font-weight-bold">65%</h6></div>
                                                    <div class="progress progress-sm mb-0 mt-1">
                                                        <div class="progress-bar bg-primary" style="width: 65%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-success" type="button" >Edit</button>
                                                        <button class="btn btn-sm btn-success" type="button"><i class="fe fe-trash-2"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->