<!--Page header-->
<app-page-header [title]="'Todo List 01'"  [icon]="'grid'"  [title1]="'Apps'" [activeitem]="'Todo List 01'"></app-page-header>

<!--End Page header-->

<div class="row">
    <div class="col-md-12 col-xl-3 col-lg-4">
        <div class="card">
            <div class="list-group list-group-transparent mb-0 mail-inbox">
                <div class="mt-4 mb-4 ms-4 me-4 text-center">
                    <a href="javascript:void(0);" class="btn btn-primary btn-block">Add New Task</a>
                </div>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action active d-flex align-items-center">
                    <i class="fe fe-codepen fs-16 me-2"></i> All Tasks <span class="ms-auto badge bg-success">14</span>
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="fe fe-alert-octagon fs-16 me-2"></i> Important <span class="ms-auto badge bg-danger">3</span>
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="fe fe-star fs-16 me-2"></i> Starred
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="fe fe-briefcase fs-16 me-2"></i> Spam
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="fe fe-briefcase fs-16 me-2"></i> Archive
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center border-bottom-0">
                    <i class="fe fe-trash-2 fs-16 me-2"></i> Trash
                </a>
            </div>
            <div class="p-4">
                <div class="list-group list-group-transparent mb-0 mail-inbox">
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0 py-2">
                        <span class="wd-10 ht-10  brround bg-primary me-2"></span> Friends
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0 py-2">
                        <span class="wd-10 ht-10  brround bg-secondary me-2"></span> Family
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0 py-2">
                        <span class="wd-10 ht-10  brround bg-success me-2"></span> Social
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0 py-2">
                        <span class="wd-10 ht-10  brround bg-info me-2"></span> Office
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0 py-2">
                        <span class="wd-10 ht-10  brround bg-warning me-2"></span> Work
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0 py-2">
                        <span class="wd-10 ht-10  brround bg-danger me-2"></span> Settings
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body p-4">
                <div class="inbox-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group w-200">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-search"></i>
                                    </span>
                                    <input type="text" class="form-control ps-3" placeholder="Search Tasks">
                                </div>
                            </div>
                        </div>
                        <div class="col col-auto mb-4">
                            <div class="dropdown" ngbDropdown>
                                <button aria-expanded="false" aria-haspopup="true" class="btn ripple btn-sm btn-light" ngbDropdownToggle data-bs-toggle="dropdown" id="dropdownMenuButton3" type="button">Sort By<i class="fas fa-caret-down ms-1"></i></button>
                                <div  class="dropdown-menu tx-13" ngbDropdownMenu>
                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Assending Order</a>
                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Disending Order</a>
                                    <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Settings</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-inbox text-nowrap mb-0">
                            <tbody>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/1.jpg" alt="img"><span class="text-wrap">Shamika Griffith</span></td>
                                    <td class="view-message">Work Assigned By Clients</td>
                                    <td class="view-message"><span class="badge bg-light rounded-pill"> New</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star text-warning"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/2.jpg" alt="img"><span class="text-wrap">Archie Kesler</span></td>
                                    <td class="view-message">Try To Get New Work</td>
                                    <td class="view-message"><span class="badge bg-success rounded-pill"> Completed</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/3.jpg" alt="img"><span class="text-wrap">Carolyne Wirtz</span></td>
                                    <td class="view-message">Rationally Encounter Quences</td>
                                    <td class="view-message"><span class="badge bg-light rounded-pill"> New</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/4.jpg" alt="img"><span class="text-wrap">Consuelo Valenzuela</span></td>
                                    <td class="view-message">Which Of Us Ever Undertakes</td>
                                    <td class="view-message"><span class="badge bg-success rounded-pill"> Completed</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/5.jpg" alt="img"><span class="text-wrap">Myrta Powe</span></td>
                                    <td class="view-message">Quis Autem Vel Eum Iure</td>
                                    <td class="view-message"><span class="badge bg-light rounded-pill"> New</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/6.jpg" alt="img"><span class="text-wrap">Margarette Wycoff</span></td>
                                    <td class="view-message">Ut Enim Ad Minima Veniam</td>
                                    <td class="view-message"><span class="badge bg-secondary rounded-pill"> pending</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star text-warning"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/7.jpg" alt="img"><span class="text-wrap">Veronica Kimeryf</span></td>
                                    <td class="view-message">Inventore Veritatis Et Quasi</td>
                                    <td class="view-message"><span class="badge bg-success rounded-pill"> Completed</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/8.jpg" alt="img"><span class="text-wrap">Raisa Ladwig</span></td>
                                    <td class="view-message">Vero Eos Et Accusamus Et Iusto</td>
                                    <td class="view-message"><span class="badge bg-light rounded-pill"> New</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star text-warning"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/9.jpg" alt="img"><span class="text-wrap">Kathaleen Roysden</span></td>
                                    <td class="view-message">Which Of Us Ever Undertakes</td>
                                    <td class="view-message"><span class="badge bg-secondary rounded-pill"> pending</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="inbox-small-cells w-7">
                                        <label class="custom-control form-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td class="inbox-small-cells w-4"><i class="fa fa-star"></i></td>
                                    <td class="view-message dont-show font-weight-semibold"><img  class="avatat avatar-sm brround me-2" src="./assets/images/users/10.jpg" alt="img"><span class="text-wrap">Elizabeth Loux</span></td>
                                    <td class="view-message">Account Of The System</td>
                                    <td class="view-message"><span class="badge bg-light rounded-pill"> New</span></td>
                                    <td class="view-message text-center font-weight-semibold">
                                        <i class="fe fe-trash-2 fs-20"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <ngb-pagination [collectionSize]="40" [(page)]="alphabetpage" aria-label="Custom pagination" class="float-end">
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
    </div>