<!--Page header-->
<app-page-header [title]="'Tooltips'"  [icon]="'server'"  [title1]="'Elements'" [activeitem]="'Tooltips'"></app-page-header>

<!--End Page header-->

                    <!-- Start:: row-1 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Tooltip Directions
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="btn-list">
                                        <button type="button" class="btn btn-primary btn-wave me-2" data-bs-toggle="tooltip"
                                        placement="top" ngbTooltip="Tooltip on top">
                                        Tooltip on top
                                        </button>
                                        <button type="button" class="btn btn-primary btn-wave me-2" data-bs-toggle="tooltip"
                                            placement="right" ngbTooltip="Tooltip on right">
                                            Tooltip on right
                                        </button>
                                        <button type="button" class="btn btn-primary btn-wave me-2" data-bs-toggle="tooltip"
                                            placement="bottom" ngbTooltip="Tooltip on bottom">
                                            Tooltip on bottom
                                        </button>
                                        <button type="button" class="btn btn-primary btn-wave me-2" data-bs-toggle="tooltip"
                                            placement="left" ngbTooltip="Tooltip on left">
                                            Tooltip on left
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Colored Tooltips
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="btn-list">
                                        <button type="button" class="btn btn-primary btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary"
                                            placement="top" ngbTooltip="Primary Tooltip">
                                            Primary Tooltip
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-secondary"
                                            placement="right" ngbTooltip="Secondary Tooltip">
                                            Secondary Tooltip
                                        </button>
                                        <button type="button" class="btn btn-warning btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-warning"
                                            placement="bottom" ngbTooltip="Warning Tooltip">
                                            Warning Tooltip
                                        </button>
                                        <button type="button" class="btn btn-info btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-info"
                                            placement="left" ngbTooltip="Info Tooltip">
                                            Info Tooltip
                                        </button>
                                        <button type="button" class="btn btn-success btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-success"
                                            placement="top" ngbTooltip="Success Tooltip">
                                            Success Tooltip
                                        </button>
                                        <button type="button" class="btn btn-danger btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-danger"
                                            placement="bottom" ngbTooltip="Danger Tooltip">
                                            Danger Tooltip
                                        </button>
                                        <button type="button" class="btn btn-light btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-light"
                                            placement="bottom" ngbTooltip="Light Tooltip">
                                            Light Tooltip
                                        </button>
                                        <button type="button" class="btn btn-dark text-white btn-wave me-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark"
                                            placement="bottom" ngbTooltip="Dark Tooltip">
                                            Dark Tooltip
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->