<div class="page">
    <div class="page-single">
        <div class="p-5">
            <div class="row">
                <div class="col mx-auto">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="card-group mb-0">
                                <div class="card p-4">
                                    <div class="card-body">
                                        <h2 class="mb-2">Forgot Password</h2>
                                        <p class="text-muted">Forgot Password Page</p>
                                        <div class="btn-list d-flex">
                                            <a href="javascript:void(0);" class="btn btn-google btn-block btn-secondary me-2"><i class="fab fa-google fa-1x me-2"></i> Google</a>
                                            <a href="javascript:void(0);" class="btn btn-twitter btn-info me-2"><i class="fab fa-twitter fa-1x"></i></a>
                                            <a href="javascript:void(0);" class="btn btn-facebook btn-primary"><i class="fab fa-facebook fa-1x"></i></a>
                                        </div>
                                        <hr class="divider my-6 py-2">
                                        <div class="input-group mb-3">
                                            <button class="btn btn-light" type="button" id="button-addon1"><i class="fe fe-mail"></i></button>
                                            <input type="text" class="form-control" placeholder="Enetr Email" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control form-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label"><a href="javascript:void(0);">Agree the terms and policy</a></span>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="button" class="btn btn-primary btn-block px-4"><i class="fe fe-send"></i> Send</button>
                                            </div>
                                        </div>
                                        <div class="text-center pt-4">
                                            <div class="font-weight-normal fs-14">Forget it <a class="btn-link font-weight-normal"  routerLink="/dashboard">Send me back</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card text-white bg-primary py-5 d-md-down-none page-content mt-0">
                                    <div class="text-center justify-content-center page-single-content">
                                        <div class="box">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <img src="./assets/images/png/login.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>