::ng-deep{
    .dark-theme{
        .echart-height >  div{
            background: rgb(48 48 77) !important;
            border-color: #30304d !important;
        }
    }
    .echart-height > div{
        z-index: 9 !important;
    }
}