<!--Page header-->
<app-page-header [title]="'Avatars'"  [icon]="'server'"  [title1]="'Elements'" [activeitem]="'Avatars'"></app-page-header>

<!--End Page header-->

	<!--Row-->
    <div class="row">
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4  class="card-title">Simple Square Avatar</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap">
                        <div class="avatar rounded cover-image" > <img src="./assets/images/users/7.jpg"></div>
                        <div class="avatar rounded cover-image" > <img src="./assets/images/users/1.jpg"></div>
                        <div class="avatar rounded cover-image" > <img src="./assets/images/users/2.jpg"></div>
                        <div class="avatar rounded cover-image" > <img src="./assets/images/users/3.jpg"></div>
                        <div class="avatar rounded cover-image" > <img src="./assets/images/users/4.jpg"></div>
                        <div class="avatar rounded cover-image" > <img src="./assets/images/users/5.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Simple Round Avatar</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap">
                        <img class="avatar cover-image"  src="./assets/images/users/7.jpg">
                        <img class="avatar cover-image"  src="./assets/images/users/1.jpg">
                        <img class="avatar cover-image"  src="./assets/images/users/2.jpg">
                        <img class="avatar cover-image"  src="./assets/images/users/3.jpg">
                        <img class="avatar cover-image"  src="./assets/images/users/4.jpg">
                        <img class="avatar cover-image"  src="./assets/images/users/5.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4  class="card-title">Avatar Size</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap">
                        <img class="avatar rounded-1 avatar-sm cover-image"  src="./assets/images/users/7.jpg">
                        <img class="avatar rounded-1 cover-image"  src="./assets/images/users/1.jpg">
                        <img class="avatar rounded-1 avatar-md  cover-image"  src="./assets/images/users/2.jpg">
                        <img class="avatar rounded-1 avatar-lg  cover-image"  src="./assets/images/users/3.jpg">
                        <img class="avatar rounded-1 avatar-xl cover-image"  src="./assets/images/users/4.jpg">
                        <img class="avatar rounded-1 avatar-xxl cover-image"  src="./assets/images/users/5.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rounded Avatar Size</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap">
                        <img class="avatar avatar-sm cover-image"  src="./assets/images/users/7.jpg">
                        <img class="avatar cover-image"  src="./assets/images/users/1.jpg">
                        <img class="avatar avatar-md  cover-image"  src="./assets/images/users/2.jpg">
                        <img class="avatar avatar-lg  cover-image"  src="./assets/images/users/3.jpg">
                        <img class="avatar avatar-xl cover-image"  src="./assets/images/users/4.jpg">
                        <img class="avatar avatar-xxl cover-image"  src="./assets/images/users/5.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4  class="card-title">Avatar Status</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap">
                        <div><img class="avatar rounded-1 avatar-sm cover-image" src="./assets/images/users/7.jpg"><span class="avatar-status  bg-info"></span></div>
                        <div></div><img class="avatar rounded-1 cover-image" src="./assets/images/users/1.jpg"><span class="avatar-status bg-primary"></span>
                        <img class="avatar rounded-1 avatar-md  cover-image" src="./assets/images/users/2.jpg"><span class="avatar-status bg-success"></span>
                        <img class="avatar rounded-1 avatar-lg  cover-image" src="./assets/images/users/3.jpg"><span class="avatar-status bg-warning"></span>
                        <img class="avatar rounded-1 avatar-xl cover-image" src="./assets/images/users/4.jpg"><span class="avatar-status bg-secondary"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rounded Avatar Status</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap">
                       <div><img class="avatar avatar-sm cover-image"  src="./assets/images/users/7.jpg"><span class="avatar-status bg-info"></span></div> 
                        <img class="avatar cover-image"  src="./assets/images/users/1.jpg"><span class="avatar-status bg-primary"></span>
                        <img class="avatar avatar-md  cover-image"  src="./assets/images/users/2.jpg"><span class="avatar-status bg-success"></span>
                        <img class="avatar avatar-lg  cover-image"  src="./assets/images/users/3.jpg"><span class="avatar-status bg-warning"></span>
                        <img class="avatar avatar-xl cover-image"  src="./assets/images/users/4.jpg"><span class="avatar-status bg-secondary"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4  class="card-title">Avatars List</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap avatar-list-stacked">
                        <div class="avatar rounded-1   cover-image" > <img src="./assets/images/users/7.jpg"></div>
                        <div class="avatar rounded-1  cover-image" > <img src="./assets/images/users/1.jpg"></div>
                        <div class="avatar rounded-1  cover-image" > <img src="./assets/images/users/2.jpg"></div>
                        <div class="avatar rounded-1  cover-image" > <img src="./assets/images/users/3.jpg"></div>
                        <div class="avatar rounded-1  cover-image" > <img src="./assets/images/users/4.jpg"></div>
                        <div class="avatar rounded-1  cover-image" > <img src="./assets/images/users/5.jpg"></div>
                        <span class="avatar">+8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rounded Avatars List</h4>
                </div>
                <div class="card-body">
                    <div class="avatar-list demo-avatar-group flex-wrap avatar-list-stacked">
                       <img class="avatar   cover-image"  src="./assets/images/users/7.jpg">
                       <img class="avatar  cover-image"  src="./assets/images/users/1.jpg">
                       <img class="avatar  cover-image"  src="./assets/images/users/2.jpg">
                       <img class="avatar  cover-image"  src="./assets/images/users/3.jpg">
                       <img class="avatar  cover-image"  src="./assets/images/users/4.jpg">
                       <img class="avatar  cover-image"  src="./assets/images/users/5.jpg">
                        <span class="avatar">+8</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row-->