
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <div class="text-center title-style mb-4">
                                        <h2 class="mb-2">Register</h2>
                                        <p class="text-muted fs-15">Create New Account</p>
                                    </div>
                                    <div class="btn-list d-flex mb-3">
                                        <a href="javascript:void(0);" class="btn btn-google btn-block btn-secondary me-2"><i class="fab fa-google fa-1x me-2"></i> Google</a>
                                        <a href="javascript:void(0);" class="btn btn-twitter btn-info me-2"><i class="fab fa-twitter fa-1x"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-facebook btn-primary"><i class="fab fa-facebook fa-1x"></i></a>
                                    </div>
                                    <hr class="divider my-6 py-2">
                                    <div class="input-group mb-3">
                                        <button class="btn btn-light" type="button" id="button-addon1"><i class="fe fe-user"></i></button>
                                        <input type="text" class="form-control" placeholder="user name" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-light" type="button" id="button-addon2"><i class="fe fe-user"></i></button>
                                        <input type="text" class="form-control" placeholder="Enter email" aria-label="Example text with button addon" aria-describedby="button-addon2">
                                    </div>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-light" type="button" id="button-addon3"><i class="fe fe-lock"></i></button>
                                        <input type="password" class="form-control" placeholder="Password" aria-label="Example text with button addon" aria-describedby="button-addon3">
                                    </div>
                                    <div class="form-group">
                                        <label class="custom-control form-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"><a href="javascript:void(0);"> Agree the Terms and policy</a></span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn  btn-primary btn-block px-4">Create New Account</button>
                                        </div>
                                    </div>
                                    <div class="text-center pt-4">
                                        <div class="font-weight-normal fs-14">You Already have an account <a class="font-weight-normal text-primary" routerLink="/custom-pages/login/login-1">Login Here</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>