<!--Page header-->
<app-page-header [title]="'Invoice Edit'"  [icon]="'layers'"  [title1]="'Pages'" [activeitem]="'Invoice Edit'"></app-page-header>

<!--End Page header-->

<!-- Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Edit Invoice</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Invoice Title</label>
                                <input class="form-control" placeholder="Invoice title" value="Invoice">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Subject</label>
                                <textarea class="form-control" rows="4" placeholder="Subject of Invoice">Hi Jessica Allen,This is the receipt for a payment of $450.00 (USD) for your works
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Payment Number</label>
                                <input class="form-control" type="number" placeholder="Payment Number" value="23543">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Payment Date</label>
                                <input class="form-control" value="" placeholder="dd-mm-yy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Bill To</label>
                                <textarea class="form-control" rows="4" placeholder="Bill To">Street Address, State, City, Region, Postal Code, ctr@example.com
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table nowrap text-nowrap border mt-3">
                        <thead>
                            <tr>
                                <th>PRODUCT</th>
                                <th class="w-40">DESCRIPTION</th>
                                <th>QNTY</th>
                                <th>UNIT PRICE</th>
                                <th>AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-control" placeholder="" type="text" value="Logo Creation"></td>
                                <td><textarea rows="1" class="form-control">Logo and business cards design</textarea>
                                </td>
                                <td><input class="form-control" placeholder="" type="text" value="2"></td>
                                <td><input class="form-control" placeholder="" type="text" value="$60.00"></td>
                                <td><input class="form-control" placeholder="" type="text" value="$120.00"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><a class="btn btn-light" href="javascript:void(0)"><i class="fe fe-plus"></i> Add
                                        Product</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="form-label">Vat Rate</label>
                        <input class="form-control" placeholder="Vat Rate" type="text" value="20%">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-success me-1" href="javascript:void(0)">Save</a>
                        <a class="btn btn-light" href="javascript:void(0)">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End row-->