<div class="h-100vh bg-primary">
    <div class="bgbox">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!-- Page -->
		<div class="page relative  bg-primary ">
			<div class="page-content">
				<div class="container text-center">
					<div class="display-6 text-white mb-3 font-weight-bold">Coming soon</div>
					<h4 class="  mb-1 text-white-80 text-white">Site Nearly Already Ready</h4>
					<p class="h5 font-weight-normal mb-4 leading-normal text-white-50">You may have mistyped the address or the page may have moved.</p>
					<div class="row">
						<div class="col-md-6 d-block mx-auto">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
								<span class="btn btn-secondary  be-ts-0 be-bs-0" id="basic-addon1">Notify Me</span>
							  </div>
							<div class="custom-btns d-flex justify-content-center">
								<button class="btn btn-icon" type="button"><span class="btn-inner-icon m-2"><i class="fab fa-facebook-f"></i></span></button>
								<button class="btn btn-icon" type="button"><span class="btn-inner-icon m-2"><i class="fab fa-google"></i></span></button>
								<button class="btn btn-icon" type="button"><span class="btn-inner-icon m-2"><i class="fab fa-twitter"></i></span></button>
								<button class="btn btn-icon" type="button"><span class="btn-inner-icon m-2"><i class="fab fa-pinterest-p"></i></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page -->
  </div>