<!--Page header-->
<!-- <app-page-header [title]="'Chat'"  [icon]="'grid'"  [title1]="'Apps'" [activeitem]="'Chat'"></app-page-header> -->

	<!-- Row -->
     <div class="row gx-0">
    <div class="col-md-12 col-lg-6">

    <div class="card my-1">
        <div class="row no-gutters">
            
            <!-- <div class="col-xl-6 col-lg-5"> --> 
                <div class="border-start">
                    <div class="main-content-body main-content-body-chat">
                        <div class="main-chat-header">
                            <div class="main-img-user"><img alt="" src="./assets/images/users/2.jpg" class="avatar avatar-md brround"></div>
                            <div class="main-chat-msg-name" *ngIf="chatUser"  >
                                <h6>{{ chatUser?.name  || 'Unknown'}}</h6><small style="font-size: 12.5px; font-weight: 600; margin-top: 3px;">{{ chatUser?.phone_no || 'N/A' }}</small>
                            </div>
                            <nav class="nav">
                                <div class="dropdown" ngbDropdown>
                                    <a aria-expanded="false"  href="javascript:void(0);" aria-haspopup="true" class="nav-link d-block d-lg-none" ngbDropdownToggle data-bs-toggle="dropdown" id="dropdownMenuButton3" type="button"><i class="fe fe-more-vertical"></i></a>
                                    <div class="dropdown-menu tx-13" ngbDropdownMenu>
                                        <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Action</a>
                                        <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Another action</a>
                                        <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Something else here</a>
                                    </div>
                                </div>
                                <!-- <a class="nav-link d-none d-sm-block" data-bs-toggle="tooltip" placement="top" ngbTooltip="Call"><i class="fe fe-phone"></i></a>
                                <a class="nav-link d-none d-sm-block" data-bs-toggle="tooltip" placement="top" ngbTooltip="Archive"><i class="fe fe-folder-plus"></i></a>
                                <a class="nav-link d-none d-sm-block" data-bs-toggle="tooltip" placement="top" ngbTooltip="Trash"><i class="fe fe-trash-2"></i></a>
                                <a class="nav-link d-none d-sm-block" data-bs-toggle="tooltip" placement="top" ngbTooltip="View Info"><i class="fe fe-alert-octagon"></i></a> -->
                                <button class="btn btn-secondary" (click)="closeChat()">Close Chat</button>
                            </nav>
                        </div><!-- main-chat-header -->
                        <div class="main-chat-body" id="ChatBody">
                            <ng-scrollbar>
                            <div class="content-inner">
                                <div *ngIf="!currentChatId" class="text-center text-muted my-5">
                                    <p>No active chat. Accept a request to start chatting.</p>
                                </div>

                                
                                <!-- <label class="main-chat-time"><span>3 days ago</span></label> -->
                                <div  *ngFor="let msg of messagesData" class="media" [ngClass]="{'flex-row-reverse': msg.is_agent}">
                                    <!-- <div class="main-img-user online"><img alt="" src="./assets/images/users/2.jpg" class="avatar avatar-md brround"></div> -->
                                    <div class="media-body">
                                        <div class="main-msg-wrapper" >
                                            <!-- {{ msg }} -->
                                            {{ msg.msg }}

                                        </div>
                                        <!-- <div>
                                            <span>9:48 am</span> <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="media flex-row-reverse">
                                    <!-- <div class="main-img-user online"><img alt="" src="./assets/images/users/2.jpg" class="avatar avatar-md brround"></div> -->
                                  
                                </div>
                                <!-- <label class="main-chat-time"><span>Yesterday</span></label> -->
                             
                                <!-- <label class="main-chat-time"><span>Today</span></label> -->
                               
                                
                            </div>
                        </ng-scrollbar>
                        </div>
                        <div class="main-chat-footer" >
                            <nav class="nav mt-0">
                                <a href="javascript:void(0)" class="nav-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Camera"><i class="fe fe-camera fs-18"></i></a>
                                <a href="javascript:void(0)" class="nav-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Attach"><i class="fe fe-paperclip fs-18"></i></a>
                            </nav>
                            <input class="form-control" placeholder="Type your message here..." type="text"  [(ngModel)]="message" (keyup.enter)="sendMessage()">
                             <a class="main-msg-send" (click)="sendMessage()"><i class="fe fe-send"></i></a>
                        </div>
                        <div  class="transfer-section mt-3 px-3 pb-3">
                            <div class="row">
                                <div class="col form-inline">
                                    <label class="mr-4">Transfer to: </label>
                                    <select class="form-control" [(ngModel)]="selectedAgent">
                                        <option value="">Select Agent</option>
                                        <option *ngFor="let agent of agentsData" [value]="agent.id">
                                            {{ agent.name }} {{ agent.lname }}
                                        </option>
                                    </select>
                                    <button class="btn btn-primary ml-2" [disabled]="!selectedAgent" (click)="transferTo()">Transfer</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    </div> 

    
    <div class="col-md-12 col-lg-6">
        <div class="row">

    <div class="col-md-12 col-lg-6 my-1">
        <div class="card" [(ngbCollapse)]="isClosed9">
            <div class="card-header">
                <h3 class="card-title">On Going chats</h3>
                <div class="card-options">
                    <a class="card-options-collapse me-2" (click)="Collapsetoggle9()"
                    [attr.aria-expanded]="!isCollapsed9">
                    <i class="fe fe-chevron-{{ !isCollapsed9 ? 'up' : 'down'}}"></i>
                </a>
                <!-- <a class="card-options-remove" (click)="Closetoggle9()" [attr.aria-expanded]="!isClosed9">
                    <i class="fe fe-x"></i>
                </a> -->
                </div>
            </div> 
            <div class="card-body p-0">
                <div class="table-responsive" style="height: 420px; overflow-y: auto;">
                    <table class="table table-striped card-table table-vcenter text-nowrap">
                        <thead>
                            <tr>
                                <th>Companies</th>
                                <th>Members</th>
                                <th>Budget</th>
                                <!-- <th>Salary</th>     -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chat of queueData">
                                <th scope="row">{{ chat.name }}</th>
                                <td>{{ chat.sender }}</td>
                                <!-- <td>{{data.position}}</td> -->
                                <!-- <td>{{data.salary | currency:'USD':'symbol':'3.0-0'}}</td> -->
                                 <!-- <td><button class="btn btn-primary btn-sm" style="font-size: 12px;">Accept</button></td> -->
                                  <td>{{ chat.agent_type }}</td>   
                            </tr>
                        </tbody>
                    </table>
                </div><!-- bd -->
            </div><!-- bd -->
        </div>
    </div>

    
    <div class="col-md-12 col-lg-6 my-1">
        <div class="card" [(ngbCollapse)]="isClosed9">
            <div class="card-header">
                <h3 class="card-title">Agent queue</h3>
                <div class="card-options">
                    <a class="card-options-collapse me-2" (click)="Collapsetoggle9()"
                    [attr.aria-expanded]="!isCollapsed9">
                    <i class="fe fe-chevron-{{ !isCollapsed9 ? 'up' : 'down'}}"></i>
                </a>
                </div>
            </div>
                <div class="card-body p-0">
                    <div class="table-responsive" style="height: 420px; overflow-y: auto;">
                        <table class="table table-hover card-table table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone no</th>
                                    <th>Action</th>
                                    <!-- <th>Salary</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let request of requestsData">
                                    <th scope="row">{{ request.name }}</th>
                                    <td>{{ request.phone_no }}</td>
                                    <!-- <td>{{data.position}}</td>
                                    <td>{{data.salary | currency:'USD':'symbol':'3.0-0'}}</td> -->
                                    <td>
                                        <!-- <button class="btn btn-primary btn-sm" style="font-size: 11px; padding: 1px 5px;">Accept</button> -->
                                        <button *ngIf="!request.is_assigned" (click)="acceptRequest(request.ra_id)"
                                        class="btn btn-primary btn-sm" style="font-size: 11px; padding: 1px 5px;">Accept</button>
                                <span *ngIf="request.is_assigned">{{ request.uname }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>   












    <div class="col-md-12 col-lg-12 my-1">
        <div class="card" [(ngbCollapse)]="isClosed9">
            <div class="card-header">
                <h3 class="card-title">Transfer Agent to me</h3>
                <div class="card-options">
                    <a class="card-options-collapse me-2" (click)="Collapsetoggle9()"
                    [attr.aria-expanded]="!isCollapsed9">
                    <i class="fe fe-chevron-{{ !isCollapsed9 ? 'up' : 'down'}}"></i>
                </a>
                <!-- <a class="card-options-remove" (click)="Closetoggle9()" [attr.aria-expanded]="!isClosed9">
                    <i class="fe fe-x"></i>
                </a> -->
                </div>
            </div>
            <!-- <div class="card-body " [(ngbCollapse)]="isCollapsed9">
                <div class="dimmer active">
                    <div class="spinner"></div>
                </div>
            </div> -->

                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover card-table table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th>Agent Name</th>
                                    <th>Name</th>
                                    <th>Phone no</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transfer of transfersData">
                                    <td>{{ transfer.uname }}</td>
                                    <td>{{ transfer.name }}</td>
                                    <td>{{ transfer.phone_no }}</td>
                                    <!-- <td>{{data.salary | currency:'USD':'symbol':'3.0-0'}}</td> -->
                                    <td><button class="btn btn-primary btn-sm" style="font-size: 11px; padding: 1px 5px;">Accept</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

</div>

    
</div>
    <!-- /Row -->