<app-page-header [title]="'File Manager Details'"  [icon]="'grid'"  [title1]="'Apps'" [activeitem]="'File Manager Details'"></app-page-header>


<div class="row row-sm">
    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body px-4 pt-4">
                <a routerLink="/pages/blog/blog-2"><img src="./assets/images/photos/blog-main.jpg" alt="img"
                        class="cover-image rounded-7 w-100"></a>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class=" card-body ">
                <h5 class="mb-3">File details :</h5>
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="table-responsive">
                                <table class="table mb-0 border-top table-bordered text-nowrap">
                                    <tbody>
                                        <tr>
                                            <th scope="row">File-name</th>
                                            <td>image.jpg</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">File-size</th>
                                            <td>12.45mb</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">uploaded-date</th>
                                            <td>01-12-2020</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">uploaded-by</th>
                                            <td>prityy abodh</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">image-width</th>
                                            <td>1000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">image-height</th>
                                            <td>600</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">File-formate</th>
                                            <td>jpg</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <th scope="row">File-location</th>
                                            <td>storage/photos/image.jpg</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div class="row">
                    <div class="col-xxl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="item me-2">
                            <div class="card border-0">
                                <div class="card custom-card overflow-hidden mb-0 ">
                                    <a routerLink="/apps/file-manager/file-manager-details"><img src="./assets/images/photos/fileimage4.jpg" alt="img" class="w-100"></a>
                                    <div class="card-footer bd-t-0 py-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="mb-0">221.jpg</h6>
                                            </div>
                                            <div class="ms-auto">
                                                <h6 class="text-muted mb-0">120 KB</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="item me-2">
                            <div class="card border-0">
                                <div class="card custom-card overflow-hidden mb-0 ">
                                    <a routerLink="/apps/file-manager/file-manager-details"><img class="w-100"
                                            src="./assets/images/photos/fileimage1.jpg" alt="img"></a>
                                    <div class="card-footer bd-t-0 py-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="mb-0">222.jpg</h6>
                                            </div>
                                            <div class="ms-auto">
                                                <h6 class="text-muted mb-0">120 KB</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="item me-2">
                            <div class="card border-0">
                                <div class="card custom-card overflow-hidden mb-0 ">
                                    <a routerLink="/apps/file-manager/file-manager-details"><img class="w-100"
                                            src="./assets/images/photos/fileimage2.jpg" alt="img"></a>
                                    <div class="card-footer bd-t-0 py-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="mb-0">223.jpg</h6>
                                            </div>
                                            <div class="ms-auto">
                                                <h6 class="text-muted mb-0">120 KB</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="item me-2">
                            <div class="card border-0">
                                <div class="card custom-card overflow-hidden mb-0 ">
                                    <a routerLink="/apps/file-manager/file-manager-details"><img class="w-100"
                                            src="./assets/images/photos/fileimage3.jpg" alt="img"></a>
                                    <div class="card-footer bd-t-0 py-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="mb-0">224.jpg</h6>
                                            </div>
                                            <div class="ms-auto">
                                                <h6 class="text-muted mb-0">120 KB</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="mb-3">Recent Files</h5>
                <ul id="lightgallery" class="list-unstyled row mb-0" >
                    <li *ngFor="let img of imagesRect" class="col-xs-6 col-sm-4 col-md-4 col-xl-3  border-bottom-0" data-responsive="./assets/images/photos/1.jpg" data-src="./assets/images/photos/1.jpg" data-sub-html="<h4>Gallery Image 1</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
                      <a href="javascript:void(0)">
                        <img class="img-responsive rounded-2 " [src]="img.modal.img" alt="Thumb-1" (click)="openImageModalRowDescription(2, img)">
                      </a>
                    </li>
                  </ul>
              
            </div>
        </div>
    </div>
</div>